#all-main: {
    display: block;
}

#main1 {
       display: inline;
       text-align: center;
       margin-top: 2em;
}
#main2 {
        display: inline;
        text-align: center;
        margin-bottom: 2em;
}

#utah {display: inline-block;
        margin: 2em;
        padding: 1em;
}
.btn {
    border-radius: 50%;
    color: white;
    border: yellowgreen 2px;
    height: 130px;
    width: 130px;
    padding: 2px;
    margin: 1em;
}


}